<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <title>Meal App</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light navbar-custom">
        <a href="#" class="navbar-brand" id="naslov">MealHub<i class="fas fa-bread-slice"></i></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
          <span id="hamburger">≡</span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ml-auto">
        
          <li class="nav-item">
            <a href="/" class="nav-link" id="nav-link">Home</a>
          </li> 
          
          <li class="nav-item">
            <a href="/meals" class="nav-link" id="nav-link">Meals</a>
          </li>
          
        </ul>
      </div>
      </nav>