<%- include('partials/header')%>

<div class="jumbotron" id="content">
    <h1 class="display-4">Welcome to MealHub<i class="fas fa-bread-slice"></i></h1>
    <p class="lead">This is a simple site for showcasing your favorite meals</p>
    <hr class="my-4">
    <p>Please press one of following buttons to continue your journey.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/meals" role="button">Check meals</a>
      <a class="btn btn-danger btn-lg" href="/meals/new" role="button">Create a new meal</a>
    </p>
  </div>
<%-include('partials/footer') %>