body{
    background:url('../foodforthought_1920.webp');
    background-size:cover;
    background-attachment: fixed;
}
.navbar-custom{
    background:whitesmoke;
    text-transform: uppercase;
}
#nav-link{font-weight: bolder;color:#d9534f}
#content{width:50%;margin:auto;margin-top:5%;background:rgba(255,255,255,0.8);
border-radius:20px;;
}
#newForm{
    width:50%;
    margin:auto;
    margin-top:5%;
    background:white;
    border-radius: 20px;
    padding:2%;
}
#showMeals{
    width:90%;
    margin:auto;
}
.kartice{margin-top:30px;}
